
.output{
    background-color: #f3f2fa;
    height: 100%;
  
    
}
.output1{
    width: 1700px;
    margin-top: 5%;
    margin-left: 5%;
    padding-top: 0%;

    background-color: white;
}
.results1{
    height: 115px;
    background-color: aqua;
}
#h1wel{
    background-color: aqua;
 
}
.detail{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
}
.rate{
    height: 66px;
    width: 40px;
    margin-top: 18%;
    margin-left: -100%;
    /* border: solid; */
  }
  .para{
    font-size: xx-large;
    font-weight: 1000;
    margin-left: -20%;
    background-color: transparent;
    
  }
  .map{
    margin-left: -250%;
    margin-top: 30%;
   
  }
  .location{
    margin-top: 45%;
    margin-left: -320%;
    font-size: larger;
    font-weight: bolder;
  }
  .stars{
    height: 66px;
    width: 70px;
   
  }
  .price{
    
  }
.history{
  height: 400px;
  width: 600px;

  margin-left: 30%;
}
.detailsB h3{
  background-color: #f3f2fa;
}
